/_ide_helper_models.php
/.phpstorm.meta.php
/vendor
/node_modules
/.vagrant
Homestead.yaml
Homestead.json
.env
.idea
/public/js/platoon.js.map
/public/js/libs.js.map
/public/js/app.js.map
/public/css/app.css.map
/npm-debug.log
composer.phar
.DS_Store
