/**
 * fonts
 */

 @font-face {
 	font-family: 'bebasregular';
 	src: url('../fonts/BEBAS___-webfont.eot');
 	src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/BEBAS___-webfont.woff') format('woff'),
 	url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
 	url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
 }

 @font-face {
  font-family: 'dincond-light';
  src: url('../fonts/din-light-webfont.eot');
  src: url('../fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/din-light-webfont.woff2') format('woff2'),
  url('../fonts/din-light-webfont.woff') format('woff'),
  url('../fonts/din-light-webfont.ttf') format('truetype'),
  url('../fonts/din-light-webfont.svg#dincond-lightregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dincond-black';
  src: url('../fonts/din-black-webfont.eot');
  src: url('../fonts/din-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/din-black-webfont.woff2') format('woff2'),
  url('../fonts/din-black-webfont.woff') format('woff'),
  url('../fonts/din-black-webfont.ttf') format('truetype'),
  url('../fonts/din-black-webfont.svg#dincond-blackregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



/**
 * main styles
 */


 html,
 body {
 	height: 100%;
 	/* The html and body elements cannot have any padding or margin. */
 }

 body {
  background: #fcfcfc url("../images/bg.jpg") 50% no-repeat fixed;
}

.danger {
  background-color: rgba(255, 41, 28, .1);
}

tbody td {
  vertical-align: middle !important;
}

.navbar-text img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-nav {
  margin: 0 !important;
}

.wizard.pager {
  margin: 0 !important;
}

#squad input[type="checkbox"], #squads input[type="checkbox"]{
  zoom: 1.8;
}

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.logo {
  margin-left: 10px;
}


.push-top {
  height: 55px;
}

.msg, .status-text {
  display: none;
}

.alert {
  box-sizing: content-box !important;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer, table.dataTable tbody th, table.dataTable tbody td {
  border: none !important;
}

#members-table tr {
  cursor: pointer;
}

#members-table_info {
  float: none !important;
}

ul.nav {
  margin-bottom: 0 !important;
}


.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.well.code {
  overflow-y: scroll;
  max-height: 200px;
}

.well code {
  width: 200px;
}

.toplist tbody tr {
  cursor: pointer !important;
}

#loas tbody tr:hover .loa-actions, #ploas tbody tr:hover .loa-actions {
  opacity: 1 !important;
}

#loas td, #ploas td {
  width: 20% !important;
}

code.post-code {
  max-height: 300px;
}

/**
 * submenu nav
 */

 .dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/* stop disabled links from firing */
a[disabled] { pointer-events: none; }

.game-select {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 320px;
  margin: auto;
  text-align: center;
  z-index: -2;
}

.game-select label {
  font-weight: normal;
  font-size: 12px;
}


.register-form {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 410px;
  margin: auto;
  text-align: center;
  z-index: -2;
}

.register-form label {
  font-weight: normal;
  font-size: 12px;
}

.login-form {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 300px;
  margin: auto;
  text-align: center;
  z-index: -2;
}

.login-form label {
  font-weight: normal;
  font-size: 12px;
}

.breadcrumb {
  margin-top: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}



.user-color {
  opacity: .8;
}

.jumbotron h1 strong {
  text-shadow: 0 4px 0 rgba(0,0,0,.1);
}

#members-table .ui-selecting { background: #FECA40; }
#members-table .ui-selected { background: #FECA40; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  z-index: 1;
  padding-top:10px;
}

#login-panel, #register-panel, .msg {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.disclaimer {
  margin-top: -60px;
}


.fade-in {
  display: none;
}

#member-search-results.scroll {
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  max-height: 300px;
  width: 190px;
}

.copy-link, .copy-button-rct, .copy-button {
  cursor: pointer;
}

.center {
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: auto; 
  margin-top: auto;
}

.page-header {
  margin: 0 0 15px !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.dataTable th {
  cursor: pointer;
  border: 0;
}

h2.pull-right {
  padding-top: 10px;
}
.striped-bg {
  background-image: url('../images/bg_stripe.png');
}

.trans-striped-bg {
  background-image: url('../images/trans_bg_stripe.png');
}

.date-data {
  line-height: 35px;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.count-detail-big {
  font-family: 'dincond-black';
  font-size: 72px;
  text-align: center;
  color: #999;
  text-shadow: 0 4px 0 rgba(0,0,0,.1);
  letter-spacing: -5px;
}

.big-num {
  font-family: 'dincond-black';
  font-size: 46px;
  margin-top: -7px;
  opacity: .3;
  color: #999;
}

.big-num-main {
  font-family: 'dincond-black';
  font-size: 46px;
  margin-top: -40px;
  opacity: .2;
  color: #999;
}

.pm-checkbox {
  display: none;
  position: absolute;
  zoom: 1.6;
  -moz-transform: scale(1.6);
  top: 3px;
}


.hr {
  height: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.alert-link {
  font-weight: bold !important;
  text-decoration: none !important;
}

.alert-link:hover {
  text-decoration: underline !important;
}


.dropdown-menu > .disabled, .disabled {
 cursor: not-allowed; 
}

.dropdown-menu > .disabled:active, .disabled:active {
 pointer-events: none;
}


.nounderline{text-decoration: none !important}

.developer {
  color: purple;
}


.userList span {
  opacity: .70;
  cursor: pointer;
}


.idling {
  color: rgba(0,0,0,.35);
}


.member-actions i {
  cursor: pointer;
}

.member-actions i:hover {
  color: grey;
}

.member-item-push {
  padding-left: 25px;
}



.dropdown-menu > .disabled > a {
 pointer-events: none;
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
  color: #bbb !important;
}



#squad, #squads, #platoons {
  overflow-y: auto; 
  max-height: 400px;
}

.squad-header a {
  display: none;
}

.squad-header:hover a {
  display: inline;
}



/**
 * notification styles
 */

 .popup {
  min-width: 400px !important;
}
.popup-header {
  background: #32434D;
  text-align: center;
  color: #fff;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}
.popup .popup-header {
  margin: -1px -1px 0 -1px;
}
.popup-header > span {
  display: inline-block;
  margin: 11px 12px 12px 12px;
}
.popup-header a {
  display: block;
  color: #fff;
  padding: 11px 12px 12px 12px;
  line-height: 1;
}
.popup-header a:hover {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
.popup-header a i {
  opacity: 0.8;
  filter: alpha(Opacity=80);
}
.popup-header a:hover i {
  opacity: 1;
  filter: alpha(Opacity=100);
}

.dropdown-menu .popup-header:after {
  content: '';
  position: absolute;
  top: -7px;
  left: 13px;
  display: inline-block;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-bottom: 6px solid #32434D;
  border-left: 6px solid rgba(0, 0, 0, 0);
}
.dropdown-menu.dropdown-menu-right .popup-header:after {
  left: auto;
  right: 13px;
}

.popup .table {
  min-width: 400px;
}

@media (max-width: 767px) {
  .popup, .popup .table {
    min-width: 0;
  }
}

.nav>li .count {
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.viewPanel {
  background-color: rgba(0, 0, 0, 0.80);
}

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 19px;
  cursor: pointer;
  color: #ccc;
}

#searchclear:hover {
  opacity: .5;
}

.activity {
  max-height: 182px;
  overflow-y: auto;
  font-size: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.activity > li {
  padding: 12px;
  border-top: 1px solid #f5f5f5;
}
.activity > li:first-child {
  border-top: 0;
}
.activity > li:hover {
  background-color: #F5FFFB;
}
.activity > li:hover a {
  color: #D65C4F;
}
.activity > li > i {
  float: left;
  margin-top: 1px;
}
.activity > li > div {
  margin-left: 35px;
}
.activity > li > div > a {
  font-weight: 600;
}
.activity > li > div > span {
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 16px;
}

.avatar-thumb{
  max-width: 30px !important;
  margin-top: -3px;
}


.post{
  padding: 15px;
}

.post hr {
  margin: 5px 0;
}

div.DTTT_container {
  display: inline-block;
  margin: -8px 0 0 0;
  float:right;
}

.idle {
  opacity: 0.7;
}

.GitHubIssues {
  background-color:#EDE9E9;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px; 
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

/* .DTTT_selected {
  background: none !important;
}
*/

.no-sort { pointer-events: none!important; cursor: default!important; }





/**
 * 404 page stuff
 */

 .page-404, .page-500 {
  text-align: center;
}


.page-404 .error-code, .page-500 .error-code {
  color: #ccc;
  font-size: 120px;
  font-weight: 700;
  line-height: 140px;
  margin-top: 60px;
  text-shadow: 0 4px 0 rgba(0, 0, 0, .1);
}
.page-404 .error-text, .page-500 .error-text {
  color: #fff;
  color: rgba(0, 0, 0, .5);
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}
.page-404 .error-text .oops, .page-500 .error-text .oops {
  font-size: 50px;
}
.page-404 .error-text .hr, .page-500 .error-text .hr {
  background: #fff;
  background: rgba(0, 0, 0, .2);
  display: inline-block;
  height: 5px;
  margin: 20px 0;
  width: 40px;
}
.page-404 .error-text .solve, .page-500 .error-text .solve {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.cancel-rct a {
  background-color: #ff4136 !important;
  border-color: #ff1103 !important;
  color: #FFF !important;
  display: none !important;
}

/**
 * manage section
 */

 .sortable li:hover { background-color: rgba(252,248,227, .7); }
 .sortable { list-style-type: none !important; margin: 0 !important; padding: 0; margin-bottom: 0px; -webkit-padding-start: 0px !important; margin-left: -30px; background-color: rgba(0,0,0,.01); min-height: 45px; }
 .sortable li { margin: 0px; cursor: move; display: block; }
 .ui-state-highlight { height: 3.3em; line-height: 1.8em; background-color: rgba(252,248,227, .7); border: 1px solid #fff; }
 .view-profile { cursor: pointer;}
 .actions .btn { opacity: 0; }
 .sortable li:hover .actions .btn { opacity: 1; }



 .multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px 3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}

 .multidrop.open>.dropdown-menu {
  width: 100% !important;
}

@media (min-width: 979px) {
  #sidebar.affix {
    position: fixed;
  }
}

div.chart_div table {
    width: auto;
    margin: 0 auto !important;
}

#sidebar {
  margin-top: 30px;
}


/**
 * history member section
 */

 #history .thumbnail {
  padding:0px;
}
#history .panel {
  position:relative;
}
#history .panel>.panel-heading:after,#history  .panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
#history .panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
#history .panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}