name: Discord IT Feed notifications

on:
  push:
    branches:
      - main

jobs:
  notify-discord:
    runs-on: ubuntu-latest

    steps:
    - name: Discord Commits
      uses: Sniddl/discord-commits@latest
      with:
        webhook: ${{ secrets.IT_FEED_WEBHOOK }}
        template: "avatar-with-link"
        include-extras: false
        include-commits: |
          ^fix:
          ^feat:
